{% extends "base.html" %}
{% block  head %}{% endblock %}
{% block title %}{% endblock %}
{% block javascript %}{% endblock %}
{% block articles_active %}class="active"{% endblock %}
{% block  body %}
    <h1>Articles</h1>

  <div class="panel-group">
  {% for article in articles %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ article.title }}</div>
        <div class="panel-body"><a href="/article/{{ article.id }}">Click Here</a></div>
    </div>
  {% endfor %}
  </div>

{% endblock %}