{% extends "base.html" %}
{% block  head %}{% endblock %}
{% block title %}{% endblock %}
{% block javascript %}{% endblock %}
{% block  body %}
    <h1>Article</h1>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">{{ article.title }}</div>
      <div class="panel-body">
          <div class="row">
              <div class="col-sm-8">
                  {{ article.content }}
              </div>
              <div class="col-sm-4">
                  <img src="/static/images/{{ article.image }}" width="300px" height="300px"/>
              </div>
          </div>
      </div>
  </div>

  </div>

{% endblock %}