{% extends "base.html" %}
{% block  head %}{% endblock %}
{% block title %}{% endblock %}
{% block javascript %}{% endblock %}
{% block  body %}
    <h1>Article</h1>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">How to grow bigger tomatoes</div>
      <div class="panel-body">
          <div class="row">
              <div class="col-sm-8">
                  The key to growing larger tomatoes is to make sure plants stay evently watered and prune all the suckers off the plants.
              </div>
              <div class="col-sm-4">
                  <img src="/static/images/tomatoplant.jpg" />
              </div>
          </div>

      </div>
    </div>
  </div>

{% endblock %}