<html>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="http://www.chesterfieldnursery.com/css/bootstrap.min.css" rel="stylesheet">
<link href="http://www.chesterfieldnursery.com/css/custom.css" rel="stylesheet">
<style>

.wrap {
width: 100%;
}

.floatleft {
    float:left; 
    width: 35%;
    
    height: 50%;
}

.floatright {
float: right;
    
    height: 50%;
    width: 65%;
}
h1 {
    font-size: 30px;
    line-height: 36px;
    color: #007ab0;
    text-align: center;
}
button {
  float : right;
  color : #007ab0;
}
</style>
<h1> EggPlant</h1>

<div class="wrap" >
    <div class="floatleft">
      <img src="EggPlant.jpg" alt="EggPlant">
    </div>
    <div class="floatright">
       <p>Pretty, productive, and delicious—Ichiban-type Japanese eggplant meets all of your garden goals! The slim, 10-inch-long, deep purple fruit tastes sweet and mild, making it a perfect choice for grilling and roasting. Chefs love creating culinary treats with this beauty, so imagine how scrumptious your meals will taste when you harvest this lovely homegrown, thin-skinned eggplant just hours before dinner. A hybrid variety, it prefers warm weather but grows well in cooler climates, too, with harvests lasting into fall. Grows beautifully in garden beds or containers. Add a cage to your eggplant to help support stems when heavy with fruit. Place in full sun, and feed regularly. Matures in 50 to 60 days.


	</p>
    </div>
 </div>
<button type="button">Write a review </button>
<button type="button">BackToPlants </button>
</html>


